@import "../../scss/vars";

.MainMenu {
  background-color: $color-second;
}

.MenuItem:hover {
  color: $color-main;
  cursor: pointer;
}

.MenuItem:active {
  color: $color-main-light;
  cursor: pointer;
}
