@import "../../../scss/vars";

.ActorItem:hover {
  background-color: $color-main-active;
  cursor: pointer;
}

.ActorItem {
  width: 300px;
  padding: 10px;
  margin: 0 auto;
  margin-bottom: 10px;
  background-color: $color-main-light;
}
