.Movie {
  width: 300px;
  height: 100px;
  border: 1px solid grey;
}

.Movie:hover {
  background-color: #e2e2e2;
  cursor: pointer;
}

.GenrePage {
  background-color: rgb(247, 204, 234);
  display: flex;
  flex-direction: column;
}

.MovieListItems {
  width: 500px;
  padding: 10px;
  margin: 0 auto;
  margin-bottom: 10px;
  background-color: rgb(204, 204, 247);
}
